@media (max-width: 1000px) {
  .header {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(46, 123, 253);
    width: 100%;
    padding: 10px 17px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }

  .navbar {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white;
    height: 0;
    transition: 0.3s ease;
    overflow: hidden;
  }

  .navbar a {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  #check:checked ~ .navbar,
  .navbar.open {
    height: 20rem;
  }

  .icons #menu {
    display: block;
  }

  .icons #close {
    display: none;
  }

  #check:checked ~ .icons #menu {
    display: none;
  }

  #check:checked ~ .icons #close {
    display: block;
  }
}